*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    background-color: #777777;
    text-align: center;
    
}
header{
    background-color: #777777;
    padding: 10px;

}
h1{
    text-align: center;
}
#sair{
    color: red;
    text-decoration: none;
    font-size: 20px;
    margin: 20px 20px 20px 0px;

}

form{
    display: flex;
    
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #777777;
    margin: 20px auto;
    width: 1000px;
    padding: 20px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 2px 2px 2px #575757;
}
label{
    color: white;
    font-weight: bold;
    margin-bottom: 5px;

}
input,textarea,select{
    margin-bottom: 10px;
}
input[type='text']{
    border-radius: 10px;
    padding: 10px;
    border: none;
    box-shadow: 2px 2px 2px #575757;
}
textarea{
    border-radius: 10px;
    padding: 10px;
    border: none;
    box-shadow: 2px 2px 2px #575757;
    width: 300px;
    height: 100px;
}
#img{
    display:none;
}
.img-label{
    width: 260px;
    height: 240px;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: #aaa;
    border: 2px dashed #aaa;
    cursor: pointer;
    transition: color 0.5s ease-in-out,background-color ease-in-out;
}
.img-label:hover{
    color: #ccc;
    background-color: #949494;
}
select{
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #575757;
}
button{
    padding: 10px 20px;
    box-shadow: 2px 2px 2px #575757;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.5s;

}
button:hover{
    transform: scale(1.2);
}

.conteiner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    box-shadow: 0px 0px 10px black;
    width: 500px;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

    
}
.hide{
    display: none;
}
.conteiner h3{
    margin: 10px;
}
.conteiner select,button{
    width: 200px;
}
