    
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        background-color: #fff;
    }
    .topo{
        background-color: #636363;
        height: 40px;
    }
    
    .conteiner{
        background-color: antiquewhite;
        width: 1280px;
        height: 100vh;
        margin: 0 auto;
        display: flex;
        
    }
    h1{
        width: 100%;
        font-size: 100px;
        text-align: center;
    }
    .conteiner-jogo{
        width: 300px;
        height: 300px;
        background-color: #636363;
        margin: 10px;
        padding: 20px;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        text-align:center;
    }
    .conteiner-img{
        width: 250px;
        height: 200px;
        background-color: black;
        overflow: hidden;
    }
    .img-jogo{
        width: 100%;
        
        display: flex;
        justify-content: center;
        border-radius:10px ;
    }
    button{
        background-color: #636363;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-weight: bold;
        margin: 10px;
    }
    span{
        min-height: 300px;
        
    }
    
    
    .jogos{
        max-width: 200px;
        height: 200px;
        border-radius:10px ;
        margin: 10px;
        overflow: hidden;
        margin: 0 auto;
    }
    .jogos img{
        width: 200px;
        display: flex;
        justify-content: center;
        border-radius:10px ;
        
    
    }
    
   

    .h3{
        cursor: pointer;
    }
    
    .conteiner-jogo{
        width: 300px;
        height: 300px;
        background-color: blue;
    }

    /*card de jogo*/

    .con-jogo{
        position: absolute;
        width: 1000px;
        height: 500px;
        background-color: #636363;
        left: 30%;
        
    }

    .title-jogo{
        font-size: 50px;
        font-family: Arial, Helvetica, sans-serif;
        background-color: #2400f3f8;
    }
    .img-jg{
        width: 300px;
        margin: 10px;
        height: 300px;
        border-radius: 20px;
    }
    
    .fechar{
        position: absolute;
        top: 0;
        right: 0;
        margin: 15px;
        background-color: red;
        font-weight: bold;
        padding: 5px;
        cursor: pointer;
    }
    .fx{
        cursor: pointer;
    }
    .desc-jg{
        background-color: #fff;
        padding-top: 100px;
    }
    .conteiner-desc{
        display: flex;
        max-height: 200px;
    }
