<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="estilo.css">
    
</head>
<header>
    <div class="navbar">
        <div class="header">
            <div class="logo">
                <img src="../Midia/img/logo.png" alt="logotipo">
            </div>
            <nav class="nav">
                <ul>
                    <li id="switch"><i class="fa-solid fa-gamepad"></i> <a href="playstation.html">Nitendo</a> </li>
                    <li id="plays"><i class="fa-brands fa-playstation"></i> PlayStation</li>
                    <li id="xbox"><i class="fa-brands fa-xbox"></i> Xbox</li>
                    <li id="pc"> <i class="fa-solid fa-desktop"></i> Pc</li>
                </ul>

            </nav>
            <div class="nav-icon">
                <img id="list" src="../Midia/img/icon/list.svg"  alt="">
            </div>
        </div>

    </div>
</header>
    <!--barra lateral-->
    <div id="menuOculto" class="menuOculto">
        <a href="" class="btnFechar" >&times;</a>
        <form action="" method="POST">

            <label for="processador">Processador:</label>
            <select name="processador" id="processador">
                <option value="i3">i3</option>
                <option value="i5">i5</option>
                <option value="i7">i7</option>
                <option value="i9">i9</option>
                
            </select>

            <label for="placa">placa de video:</label>
            <select name="placa" id="placa">
                <option value="RX580">RX580</option>
                <option value="RX550XT">RX550XT</option>
                <option value="RTX4070">RTX4070</option>
                <option value="RTX3060">RTX3060</option>
            </select>

            <label for="memoria">memoria ram:</label>
            <select name="memoria" id="mameria">
                <option value="4gb">4gb</option>
                <option value="6gb">6gb</option>
                <option value="8gb">8gb</option>
                <option value="10gb">10gb</option>
                <option value="12gb">12gb</option>
                <option value="16gb">14gb</option>
                <option value="18gb">18gb</option>
                <option value="32gb">32gb</option>
            </select>

            <label for="armazenamento">armazenamento:</label>
            <select name="memoria" id="mameria">
                <option value="128gb">128gb</option>
                <option value="256gb">256gb</option>
                <option value="500gb">500gb</option>
                <option value="1tb">1tb</option>
                <option value="2tb">2tb</option>
               
            </select>

            <button id='botao-form' name="enviar">Enviar </button>
        </form>
        
    </div>

    <!--fim barra lateral-->
<section id="principal">
    <h1>Playtation</h1>
<div class='conteiner'>

    <!-- <div class='conteiner-jogo'>
        <div class="jogos">
            <img src="#" alt="">
        </div>
        <h3>nome do jogo</h3>
    </div>
    -->
    
        
    
    
    
</div>
</section>
<script src="script.js"></script>

