<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Formatacao/css/estilo.css">
</head>

<h1>Playtation</h1>
<div class='conteiner'>

    <!-- <div class='conteiner-jogo'>
        <div class="jogos">
            <img src="#" alt="">
        </div>
        <h3>nome do jogo</h3>
    </div>
    -->
    <script src="script.js"> 
    </script>
        
    
    
    
</div>
